.details-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 30px;
}

.details-image,
.details-content {
    margin: 0 30px;
}

.details-image {
    margin-top: 40px;
}

.details-youtube {
    margin: 0 auto;
    display: block;
    width: 560px;
    height: 315px;
}

.button-back {
    max-width: 200px;
    display: block;
    margin: 25px auto;
}
